.swiper {
    width: 240px;
    height: 320px;
  }
  
  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 18px;
    box-shadow: none;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
  }

  .swiper-3d .swiper-slide-shadow { background: none }
  
  @media (min-width: 768px) {
    .swiper-slide {
        flex-direction: column;
    }
}