.agent-cards-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 625px;
    border: solid #9061F9;
    border-radius: 12px;
    margin: 2rem;
    padding: 1rem 5rem;
}

.agent-cards-body img {
    width: 600px;
    height: auto;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.agent-home-title h3 {
    font-size: 64px;
    font-weight: bold;
}

.agent-home-title p {
    color: #9a9a9a;
}


@media only screen and (max-width: 750px) {
    .agent-cards-body {
        flex-direction: column;
        padding: 1rem;
    }

    .agent-home-title h3 {
        font-size: 32px;
        font-weight: bold;
    }

    .agent-cards-body img {
        width: 400px;
        height: auto;
    }

    #test{
        width: 40vh;
    }
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
}

.splide__slide{
    width: max-content;
}

#video {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.splide__list {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: flex;
    height: 100%;
    margin: 0!important;
    padding: 0!important;
}

.slider-card-css {
    padding: 2rem;
    background-color: #9061F9;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.slider-card-css img {
    width: 500px;
}

.home-gamemodes {
    margin-top: 2rem;
    width: 100%;
    background-color: #3a2665;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-gamemode{
    border: solid white;
    border-radius: 12px;
    margin: 2rem;
    padding: 1rem;
    width: 200px;
    height: 20 0px;
}

.allgamemode{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 60%;
}

.home-maps {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.hop {
    width: 250px;
    height: 500px;
}

.allranks{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
}

.home-ranks{
    border: solid white;
    border-radius: 12px;
    margin: 2rem;
    padding: 1rem;
    width: 200px;
    height: 200px;
}

.home-ranks img {
    width: 150px;
}

.agent-cards-bodys {
   margin-top: 2rem;
   width: 80%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
}

.agent-card-witdh {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem;
    width: 250px;
    height: 350px;
    background-color: #9061F9;
    border-radius: 12px;
}

.agent-card-witdh img {
    width: 280px;
    height: auto;
}