.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-bg {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
}

.navbar-texts {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-texts a {
    padding: 0.5rem;
}

.navbar-textsim {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-textsim a {
    padding: 0.5rem;
}

.navbar-logo img {
    width: 100px;
}



.navbar-responsive-texts {
    background-color: #9061F9;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: none;
    transition: all 0.8s ease-out 0s;
}


.navbar-responsive-texts a {
   border-bottom: solid white 1px;
   padding: 1rem 0.5rem;
   width: 70%;
}

.nav-resim {
    display: none;
    z-index: 1;
}


  
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 50%;
    border: #9061F9 solid 3px;
    padding: 2rem 3rem;
    border-radius: 12px;
  }

  .bg {
    padding: 2rem;
  }

  .footer-content {
    text-align: center;
    color: #9a9a9a;
  }

  
  .text-footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
   
  .bg-footer{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .bg-footer div{
    padding: 0.3rem;
  }

  @media only screen and (max-width: 750px) {
    .nav-resim {
       display: flex;
    }
 
    .navbar-texts {
        display: none;
    }

    .navbar-logo img {
        width: 80px;
    }

    .footer {
        flex-direction: column;
    }

    .footer-content {
        width: 250px
       
    }

    .navbar-bg {
      background-color: #9061F9;
      z-index: 1;
    }

  
  }